/*Font sizes*/
$text-banner-heading:60px;
$text-normal : 17px;

//$font-helveticamedium : 'helveticaneuemedium', 'HelveticaNeueLTArabic-Roman';
//$font-helveticabold : 'helveticaneuebold', 'HelveticaNeueLTArabic-Bold';
//$font-helveticaregular : 'helveticaneueregular', 'HelveticaNeueLTArabic-Light';
//$font-eurostileltstd : 'EurostileLTStd', 'GESSTextLight-Light';
//$font-eurostileltstddemi : 'EurostileLTStd-Demi','GESSTextMedium-Medium';

$font-helveticamedium : 'latoregular', 'HelveticaNeueLTArabic-Roman';
$font-helveticabold : 'latobold', 'HelveticaNeueLTArabic-Bold';
$font-helveticaregular : 'latolight', 'HelveticaNeueLTArabic-Light';
$font-eurostileltstd : 'EurostileLTStd', 'GESSTextLight-Light';
$font-eurostileltstddemi : 'EurostileLTStd-Demi','GESSTextMedium-Medium';