/* COLORS */
$primary-color: #000000;
$base-color: lighten(10%, $primary-color);
$secondary-color: darken(10%, $base-color);

/* TEXT COLORS */
$color-text-dark: #1d201e; //green color
$color-text-medium: #4a4a4a;
$color-input-border: #979e98;
$color-nav-border:#1d201e;